<div class="container">

    <mat-card *ngIf="student" class="mt-5">
        <mat-card-content>
            <div class="row">

                <div class="col-md-5 mt-5 mr-3">
                    <img *ngIf="student.image; else noImage" style="width: 100%" src="{{API}}/{{student.image}}">
                    <ng-template #noImage>
                        <img style="width: 100%"
                            src="{{API}}/store/students/circle-user.png" 
                            alt="{{student.name}}">
                    </ng-template>

                    <div class="row mt-5 mb-5">
                        <div class="col-6 strong">
                            <mat-chip-list>
                                <button mat-flat-button color="accent"
                                        (click)="openRegisterImage()">Alterar imagem</button>
                            </mat-chip-list>
                        </div>
                        <div  class="col-6 text-right light">
                            <mat-icon style="font-size: 15px">event</mat-icon>
                            <font class="mr-3">{{student.registerDate | date: 'd LLL, y'}}</font>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 mt-5">
                    <div class="text-center">
                        <p class="mat-display-1 mb-3">{{student.name}}</p>
                        <div style="height: 7px" class="bg-color-primary"></div>
                    </div>
                    
                    <br>
                    <div class="row mt-3">
                        <div class="col-4 mat-h3 mat-subheading-2 strong">
                            E-mail
                        </div>
                        <div class="col-8 mat-h3 mat-subheading-2 light">
                            {{student.email}}
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row mt-2">
                        <div class="col-4 mat-h3 mat-subheading-2 strong">
                            Fone
                        </div>
                        <div class="col-8 mat-h3 mat-subheading-2 light">
                            {{student.studentPhone}}
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row mt-2">
                        <div class="col-4 mat-h3 mat-subheading-2 strong">
                            Endereço
                        </div>
                        <div class="col-8 mat-h3 mat-subheading-2 light">
                            {{student.address}}, {{student.district}}
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row mt-2">
                        <div class="col-4 mat-h3 mat-subheading-2 strong">
                            Cidade
                        </div>
                        <div class="col-8 mat-h3 mat-subheading-2 light">
                            {{student.city}}
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row mt-2">
                        <div class="col-4 mat-h3 mat-subheading-2 strong">
                            Periodo
                        </div>
                        <div class="col-8 mat-h3 mat-subheading-2 light">
                            {{student.classPeriod}}
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row mt-2">
                        <div class="col-4 mat-h3 mat-subheading-2 strong">
                            Curso
                        </div>
                        <div class="col-8 mat-h3 mat-subheading-2 light">
                            {{student.classCourse}}
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    
</div>