<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button *ngIf="(user$ | async) as user" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">SAI</h1>

    <span class="header-spacer"></span>

    <div class="text-right" *ngIf="(user$ | async) as user">
      
      <button mat-button [matMenuTriggerFor]="menu">
        <i class="fa fa-user-circle mr-2"></i>
        <a class="mr-1">{{ user.name }}</a>
      </button>
      <mat-menu class="text-center" #menu="matMenu">
        <button mat-menu-item (click)="logout()"> <i class="fa fa-door-closed"></i>Sair</button>
      </mat-menu>
      
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-nav-list>
        <div *ngIf="(user$ | async) as user">
            <a mat-list-item [routerLink]="[screen.link]" *ngFor="let screen of user.screens">
                <i [ngClass]="screen.icon" class="mr-2 ml-3"></i>{{screen.description}}
            </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>