<div class="container text-center">
    
    <div class="center">
        <video class="video" #video width="354" height="472" autoplay></video>

        <div #borderVideo class="border-video"></div>
    </div>

    <div class="center">
            <canvas #canvas width="354" height="472"></canvas>
    </div>

    <div class="center">
        <button #captureButton mat-icon-button color="warn" (click)="capture()">
            <mat-icon>photo_camera</mat-icon>
        </button>

        <button #recaptureButton mat-raised-button class="mr-3" color="accent" (click)="recapture()">
            Tirar outra
        </button>

        <button #saveButton mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="data">
            Salvar
        </button>

    </div>
    

</div>