<div class="container mt-5 text-center">
    <div class="mb-5">
        <h1 class="text-color-primary"><i class="fa fa-check mr-2"></i>Aluno Matriculado com sucesso!</h1>
    </div>

    <button mat-raised-button color="accent" class="mr-5" (click)="printForm()">Imprimir Ficha de cadastro</button>
    <button mat-raised-button color="accent" class="mr-5" (click)="printContractStudent()">Imprimir via do Aluno</button>
    <button mat-raised-button color="accent" (click)="printContract()">Imprimir Contrato</button>
</div>

<!-- CONTRATO COMPLETO-->
<div style="display: none" #registrationForm class="container" *ngIf="student">

    <h3 class="text-center mt-5 mb-5"><b ><u>FICHA DE MATRÍCULA</u></b></h3>
    
    <p style="text-align : justify">
    Nome do estudante:      <u><b class="mr-3">{{student.name | uppercase}},</b></u>
    Endereço:               <u><b class="mr-3">{{student.address | uppercase}},</b></u>  
    N°:                     <u><b class="mr-3">{{student.number}},</b></u>
    Complemento:            <u><b class="mr-3">{{student.complement | uppercase}},</b></u>
    Bairro:                 <u><b class="mr-3">{{student.district | uppercase}},</b></u> 
    Cidade:                 <u><b class="mr-3">{{student.city | uppercase}},</b></u>   
    Estado:                 <u><b class="mr-3">{{student.state}},</b></u>   
    CEP:                    <u><b class="mr-3">{{student.cep}},</b></u>   
    Email:                  <u><b class="mr-3">{{student.email}},</b></u>   
    Cel:                    <u><b class="mr-3">{{student.studentPhone}},</b></u>
    RG:                     <u><b class="mr-3">{{student.rg}},</b></u>
    Orgão Expedidor:        <u><b class="mr-3">{{student.shipping | uppercase}},</b></u>  
    CPF:                    <u><b class="mr-3">{{student.cpf}},</b></u> 
    Nascimento:             <u><b class="mr-3">{{student.birth | date : 'dd/MM/yyyy'}},</b></u>   
    Menor de Idade:         <u><b class="mr-3">{{student.underAge | yesOrNo}},</b></u>   
    Mão dominante:          <u><b *ngIf="student.hand == 'd'; else handLeft" class="mr-3">DIREITA</b></u>
                            <u><ng-template #handLeft><b class="mr-3">ESQUERDA</b></ng-template></u>

    Responsável legal e financeiro:     <u><b class="mr-3">{{student.responsibleName | uppercase }},</b></u>   
    Parentesco:                         <u><b class="mr-3">{{student.responsibleParentage | uppercase}},</b></u>  
    RG:                                 <u><b class="mr-3">{{student.responsibleRg}},</b></u>
    CPF:                                <u><b class="mr-3">{{student.responsibleCpf}},</b></u>   
    Celular:                            <u><b class="mr-3">{{student.responsiblePhone}},</b></u>  
    Em caso de emergência avisar:       <u><b class="mr-3">{{student.emergencyName | uppercase}},</b></u>  
    Relação:                            <u><b class="mr-3">{{student.emergencyParentage | uppercase}},</b></u>  
    Celular:                            <u><b class="mr-3">{{student.emergencyPhone}},</b></u>  
    Periodo das aulas:                  <u><b class="mr-3">{{student.class}},</b></u> 
    Tipo de curso:                      <u><b class="mr-3">{{student.class}},</b></u>   
    Formado no Ensino Médio:            <u><b class="mr-3">{{student.formed | yesOrNo}},</b></u>   
    Ano de conclusão:                   <u><b class="mr-3">{{student.formedYear}},</b></u>   
    Escola onde estudou/estuda:         <u><b class="mr-3">{{student.formedSchool | uppercase}},</b></u>   
    cidade:                             <u><b class="mr-3">{{student.formedSchoolCity | uppercase}},</b></u>    

    Já fez Pré-vestibular:              <u><b class="mr-3">{{student.preEntrance | yesOrNo}},</b></u>   
    nome do cursinho:                   <u><b class="mr-3">{{student.preEntranceName | uppercase}},</b></u>   
    Cursos que pretende prestar vestibular:  <u><b class="mr-3">{{student.pretensionCourses | uppercase}},</b></u>     
    Instituições Pretendidadas:         <u><b class="mr-3">{{student.pretensionUniversities | uppercase}},</b></u>
    Irá prestar o ENEM:                 <u><b class="mr-3">{{student.enem | yesOrNo}},</b></u>  

    Faz uso de medicamento Controlado:  <u><b class="mr-3">{{student.controlledMedication | yesOrNo}},</b></u>    
    se sim, qual(is):                   <u><b class="mr-3">{{student.controlledMedicationDescription | uppercase}},</b></u> 
    Portador de necessidades especiais: <u><b class="mr-3">{{student.specialNeed | yesOrNo}},</b></u>  
    se sim, qual(is):                   <u><b class="mr-3">{{student.specialNeedDescription | uppercase}},</b></u>    
    Tem alergias:                       <u><b class="mr-3">{{student.allergy | yesOrNo}},</b></u>          
    se sim, qual(is):                   <u><b class="mr-3">{{student.allergyDescription | uppercase}},</b></u> 
    Como ficou sabendo do curso:        <u><b class="mr-3">{{student.courseInformation | uppercase}},</b></u>
    </p>    <br><br><br>
    

    <h5 class="mt-3 mb-3"><b>CONDIÇÕES DE PAGAMENTO DA TAXA DE SUSTENTABILIDADE:</b></h5>

    <p>Curso <b>{{student.class}}</b> preparatório para ENEM e Vestibulares.</p>

    <p *ngIf="student.paymentCash == '1'">Pagamento à vista - Parcela única ( {{student.paymentCashDiscount}} % de desconto) R$ {{paymentCashAmounth}} </p>

    <p *ngIf="student.paymentInstallment == '1'">Pagamento parcelado mensal (todo 5° dia do mês) - (1 parcela matrícula + <b>{{student.paymentInstallmentParcels}}</b> de <b>R$ {{student.paymentInstallmentParcelsValue}}</b> )</p>

    <p>OBS: Para pagamento até o 5° dia útil do mês, o contratante obterá 10% de desconto.</p>

    <p class="mt-5 mb-5">Florianópolis {{today | date: 'd' }} de {{ today | date: 'M' | monthPT: today }} de {{today | date: 'y'}}.</p>

    <div align="center" class="row">
        <h5 class="col-6">______________________________<br/>
            <b>CONTRATANTE</b>
        </h5>

        <h5 class="col-6">______________________________<br/>
            <b>CONTRATADA</b>
        </h5>
    </div>

    <p>Testemunhas</p>
    <div align="center" class="row">
        
        <p class="col-6">Nome:______________________________<br/></p>

        <p class="col-6">Nome______________________________<br/></p>
    </div>

    <div align="center" class="row">
        <p class="col-6">CPF:______________________________<br/></p>

        <p class="col-6">CPF:______________________________<br/></p>
    </div>
<br/>
<br/>
<br/>
<br/>

    
    
    
</div>
<!-- END CONTRATO COMPLETO-->

<!-- APENAS O CONTRATO-->
<div #contract style="display: none" class="container" *ngIf="student">
    <h5 class="text-center mb-5 mt-5">CONTRATO PARTICULAR DE PRESTAÇÃO DE SERVIÇOS</h5>
    
    <p style="text-align : justify">
        Por meio do presente contrato de prestação de serviÇOS, o contratante designado na ficha cadastral anexa, que integra o presente termo, contrata <B>CENTRO EDUCACIONAL JANUS LTDA.</B>, CNPJ 28.735.705/0001-76, estabelecida à Rua Jêronimo Coelho, 185, sala 202, Centro, Florianópolis, Santa Catarina, CEP <b>88010-030</b>, doravante denominada contratada nos termos costantes das cláusulas abaixo:
    </p>
        <ol>
            <br>
            <li>
                O objeto do presente contrato é CURSO PREPARATÓRIO PARA ENEM E VESTIBULARES, a ser ministrado pelo corpo técnico da CONTRATADA, por meio de aulas presenciais, cuja frequência é de responsabilidade exclusiva do aluno/contratante, bem como do material didático a ser utilizado.

                <ol>
                    <br>
                    <li> O aluno/ contratante somente poderá participar das aulas mediante expressa aprovação do seu crédito pela contratada, sendo que o simples preenchimento da ficha cadastral não impõe qualquer obrigação à contratada.
                    </li>

                    <br>
                    <li *ngIf="student.class != 1">
                        A prestação dos serviços terá inicio em 25/02/2019 e término em 12/07/2019, cujo turno é aquele escolhido pelo contratante, conforme a fixa de matrícula anexa e que vincula as partes.
                    </li>

                    <br>
                    <li *ngIf="student.class == 1">
                            A prestação dos serviços terá inicio em 25/02/2019 e término em 06/12/2019, cujo turno é aquele escolhido pelo contratante, conforme a fixa de matrícula anexa e que vincula as partes.
                    </li>

                    <br>
                    <li>
                        O aluno/contratante declara ter recebido e ter conhecimento do cronograma das aulas que serão ministradas.
                    </li>

                    <br>
                    <li>
                        O aluno/contratante deverá respeitar os horários escolhidos para o curso, não podendo frequentá-lo em período diverso, a fim de não comprometer o aproveitamento dos demais alunos.
                    
                        <ol>
                            <br>
                            <li>
                                Qualquer tolerância da contratada para que o aluno/contratante participe de aulas em horário diverso do previamente escolhido caracteriza mera liberdade momentânea e não implica em alteração do pacto inicial, não dando o direito ao aluno/contratante assistir aulas em horários diversos sem o prévio consentimento da contratada. 
                            </li>
                        </ol>
                    </li>

                    <br>
                    <li>
                        A contratada fornecerá ao aluno/contratante apostila contendo o conteúdo do curso objeto deste pacto. Caso o aluno/contratante extravie o material entregue e necessite de outro, ser-lhe-á cobrada taxa suplementar para ressarcimento dos custos 
                    </li>
                </ol>
            </li>

            <!-- 2. -->
            <br>
            <li>
                Uma vez que os serviços contratados são complementos ao ensino regular que o aluno/contratante deve frequentar, o aluno/contratante ou seu responsável financeiro deverá pagar pontualmente o valor constante da ficha de matrícula anexa, sendo que o inadimplemento impedirá que o aluno/contratante assista as aulas e autoriza a contratada a executar a totalidade do valor do contrato, pois a viabilidade econômica dos serviços se deu pela adesão do aluno/contratante.

                <ol>
                    <br>
                    <li>
                        O não comparecimento do aluno/contratante às aulas não o exonera da obrigação de efetuar o pagamento integral das parcelas do curso, nem direito a qualquer ressarcimento pelas aulas não assistidas.
                    </li>

                    <br>
                    <li>
                        A quitção das obrigações financeiras do aluno/contratante se dará pela efetiva compensação dos cheques entregues à contratada e à disponibilidade financeira do numerário, ou ao repasse do numerário pela operadora do cartão de crédito ou instituição bancária, conforme a modalidade de pagamento escolhida.
                    </li>

                    <br>
                    <li>
                        O atraso no pagamento de qualquer prestação acarretará o acréscimo de multa moratória de 2% (doi por cento), atualização monetária pelo IGP-m ou índice que o venha substituir e juros moratórios de 0,0333% ao dia, ficando o aluno/contratante ciente que a contratada poderá lhe inscrever nos órgãos de proteção ao crédito.
                    </li>
                </ol>
            </li>
            
            <!-- 3. -->
            <br>
            <li>
                O aluno/contratante que desistir do curso objeto deste pacto deverá pagar à contratada por inteiro a retribuição vencida e 50% (cinquenta por cento) do valor restante para o final do curso, nos termos do art. 603 do Código Civil.

                <ol>
                    <br>
                    <li>
                        Caso haja o cancelamento do curso antes do seu início, por culpa da contratada, esta restituirá a totalidade dos valores eventualmente pagos pelo aluno/contratante.
                    </li>

                    <br>
                    <li>
                        Caso haja o cancelamento do curso após o seu início, por culpa da contratada, o aluno/contratante pagará somente o valor proporcional às aulas efetivamente ministradas, assistidas por ele ou não, e a contratada restituirá ao aluno/contratante o valor proporcional eventualmente pago que ultrapasse o valor das aulas efetivamente ministradas, assistidas ou não.
                    </li>
                </ol>
            </li>

            <!-- 4. -->
            <br>
            <li>
                O aluno/contratante autoriza, sem ônus para qualquer das partes, divulgar o seu nome e foto pelo período de 02 anos, em meios de comunicação da contratada.
            </li>

            <br>
            <li>
                O contratante reconhece que os serviços prestados são de meio, sem qualquer vinculação ao resultado pretendido pelo aluno/contratante, cujo aproveitamento e desempenho depende  da sua dedicação e empenho.
            </li>

            <br>
            <li>
                A parte que descumprir o presente contrato pagará à outra parte os prejuisos incorridos, custas judiciais, extrajudiciais e honorários advocatícios.
            </li>

            <br>
            <li>
                As partes elegem o foro da cidade em que ocorrer a prestação dos serviços para dirimir qualquer conflito decorrente deste contrato, renunciado a qualquer outro por mais privilegiado que seja.
            </li>
        </ol>

        <p>E por estarem de acordo, as partes assinam o presente instrumento em duas vias de igual teor e forma.</p>

        <p>Florianópolis, {{today | date: 'd' }} de {{ today | date: 'M' | monthPT: today }} de {{today | date: 'y'}}</p>

        <br><br>
        <div align="center" class="row">
            <h5 class="col-6">______________________________<br/>
                <b>CONTRATANTE</b>
            </h5>
    
            <h5 class="col-6">______________________________<br/>
                <b>CONTRATADA</b>
            </h5>
        </div>

        <p>Testemunhas</p>
        <div align="center" class="row">
            
            <p class="col-md-6">Nome:______________________________<br/></p>

            <p class="col-md-6">Nome______________________________<br/></p>
        </div>

        <div align="center" class="row">
            <p class="col-md-6">CPF:______________________________<br/></p>

            <p class="col-md-6">CPF:______________________________<br/></p>
        </div>
</div>
<!-- END APENAS O CONTRATO-->

<!-- CONTRATO ESTUDANTE-->
<div #contractStudent style="display: none" class="container" *ngIf="student">
    <h4 class="text-center mb-5 mt-5">CONTRATO PARTICULAR DE PRESTAÇÃO DE SERVIÇOS DO CURSO {{student.class}}</h4>

    <br><br>

    <h5>CONDIÇÕES DE PAGAMENTO:</h5>

    
    <p *ngIf="student.paymentCash == '1'">
        Pagamento à vista - Parcela única ( {{student.paymentCashDiscount}} % de desconto) R$ {{paymentCashAmounth}}</p>

    <p *ngIf="student.paymentInstallment == '1'">
        Pagamento parcelado mensal (todo 5° dia do mês) - (1 parcela matrícula + <b>{{student.paymentInstallmentParcels}}</b> de <b>R$ {{student.paymentInstallmentParcelsValue}}</b> )
    </p>

    <p>OBS: Para pagamento até o 5° dia útil do mês, o contratante obterá 10% de desconto.</p>
    
    <br><br><br>
    
    <p style="text-align : justify">
        Por meio do presente contrato de prestação de serviÇOS, o contratante designado na ficha cadastral anexa, que integra o presente termo, contrata <B>CENTRO EDUCACIONAL JANUS LTDA.</B>, CNPJ 28.735.705/0001-76, estabelecida à Rua Jêronimo Coelho, 185, sala 202, Centro, Florianópolis, Santa Catarina, CEP <b>88010-030</b>, doravante denominada contratada nos termos costantes das cláusulas abaixo:
    </p>
        <ol>
            <br>
            <li>
                O objeto do presente contrato é CURSO PREPARATÓRIO PARA ENEM E VESTIBULARES, a ser ministrado pelo corpo técnico da CONTRATADA, por meio de aulas presenciais, cuja frequência é de responsabilidade exclusiva do aluno/contratante, bem como do material didático a ser utilizado.

                <ol>
                    <br>
                    <li> O aluno/ contratante somente poderá participar das aulas mediante expressa aprovação do seu crédito pela contratada, sendo que o simples preenchimento da ficha cadastral não impõe qualquer obrigação à contratada.
                    </li>

                    <br>
                    <li *ngIf="student.class != '1'">
                        A prestação dos serviços terá inicio em 25/02/2019 e término em 12/07/2019, cujo turno é aquele escolhido pelo contratante, conforme a fixa de matrícula anexa e que vincula as partes.
                    </li>

                    <br>
                    <li *ngIf="student.class == '1'">
                            A prestação dos serviços terá inicio em 25/02/2019 e término em 06/12/2019, cujo turno é aquele escolhido pelo contratante, conforme a fixa de matrícula anexa e que vincula as partes.
                    </li>

                    <br>
                    <li>
                        O aluno/contratante declara ter recebido e ter conhecimento do cronograma das aulas que serão ministradas.
                    </li>

                    <br>
                    <li>
                        O aluno/contratante deverá respeitar os horários escolhidos para o curso, não podendo frequentá-lo em período diverso, a fim de não comprometer o aproveitamento dos demais alunos.
                    
                        <ol>
                            <br>
                            <li>
                                Qualquer tolerância da contratada para que o aluno/contratante participe de aulas em horário diverso do previamente escolhido caracteriza mera liberdade momentânea e não implica em alteração do pacto inicial, não dando o direito ao aluno/contratante assistir aulas em horários diversos sem o prévio consentimento da contratada. 
                            </li>
                        </ol>
                    </li>

                    <br>
                    <li>
                        A contratada fornecerá ao aluno/contratante apostila contendo o conteúdo do curso objeto deste pacto. Caso o aluno/contratante extravie o material entregue e necessite de outro, ser-lhe-á cobrada taxa suplementar para ressarcimento dos custos 
                    </li>
                </ol>
            </li>

            <!-- 2. -->
            <br>
            <li>
                Uma vez que os serviços contratados são complementos ao ensino regular que o aluno/contratante deve frequentar, o aluno/contratante ou seu responsável financeiro deverá pagar pontualmente o valor constante da ficha de matrícula anexa, sendo que o inadimplemento impedirá que o aluno/contratante assista as aulas e autoriza a contratada a executar a totalidade do valor do contrato, pois a viabilidade econômica dos serviços se deu pela adesão do aluno/contratante.

                <ol>
                    <br>
                    <li>
                        O não comparecimento do aluno/contratante às aulas não o exonera da obrigação de efetuar o pagamento integral das parcelas do curso, nem direito a qualquer ressarcimento pelas aulas não assistidas.
                    </li>

                    <br>
                    <li>
                        A quitção das obrigações financeiras do aluno/contratante se dará pela efetiva compensação dos cheques entregues à contratada e à disponibilidade financeira do numerário, ou ao repasse do numerário pela operadora do cartão de crédito ou instituição bancária, conforme a modalidade de pagamento escolhida.
                    </li>

                    <br>
                    <li>
                        O atraso no pagamento de qualquer prestação acarretará o acréscimo de multa moratória de 2% (doi por cento), atualização monetária pelo IGP-m ou índice que o venha substituir e juros moratórios de 0,0333% ao dia, ficando o aluno/contratante ciente que a contratada poderá lhe inscrever nos órgãos de proteção ao crédito.
                    </li>
                </ol>
            </li>
            
            <!-- 3. -->
            <br>
            <li>
                O aluno/contratante que desistir do curso objeto deste pacto deverá pagar à contratada por inteiro a retribuição vencida e 50% (cinquenta por cento) do valor restante para o final do curso, nos termos do art. 603 do Código Civil.

                <ol>
                    <br>
                    <li>
                        Caso haja o cancelamento do curso antes do seu início, por culpa da contratada, esta restituirá a totalidade dos valores eventualmente pagos pelo aluno/contratante.
                    </li>

                    <br>
                    <li>
                        Caso haja o cancelamento do curso após o seu início, por culpa da contratada, o aluno/contratante pagará somente o valor proporcional às aulas efetivamente ministradas, assistidas por ele ou não, e a contratada restituirá ao aluno/contratante o valor proporcional eventualmente pago que ultrapasse o valor das aulas efetivamente ministradas, assistidas ou não.
                    </li>
                </ol>
            </li>

            <!-- 4. -->
            <br>
            <li>
                O aluno/contratante autoriza, sem ônus para qualquer das partes, divulgar o seu nome e foto pelo período de 02 anos, em meios de comunicação da contratada.
            </li>

            <br>
            <li>
                O contratante reconhece que os serviços prestados são de meio, sem qualquer vinculação ao resultado pretendido pelo aluno/contratante, cujo aproveitamento e desempenho depende  da sua dedicação e empenho.
            </li>

            <br>
            <li>
                A parte que descumprir o presente contrato pagará à outra parte os prejuisos incorridos, custas judiciais, extrajudiciais e honorários advocatícios.
            </li>

            <br>
            <li>
                As partes elegem o foro da cidade em que ocorrer a prestação dos serviços para dirimir qualquer conflito decorrente deste contrato, renunciado a qualquer outro por mais privilegiado que seja.
            </li>
        </ol>

        <p>E por estarem de acordo, as partes assinam o presente instrumento em duas vias de igual teor e forma.</p>

        <p>Florianópolis, {{today | date: 'd' }} de {{ today | date: 'M' | monthPT: today }} de {{today | date: 'y'}}</p>

        <br><br>
        <div align="center" class="row">
            <h5 class="col-6">______________________________<br/>
                <b>CONTRATANTE</b>
            </h5>
    
            <h5 class="col-6">______________________________<br/>
                <b>CONTRATADA</b>
            </h5>
        </div>
</div>
<!-- END CONTRATO ESTUDANTE-->