<div class="container">
    <form  (submit)="signup()" class="form mt-4 ">


        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Dados Pessoais
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>account_circle</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- NOME, CPF, RG, ÓRGÃO EXPEDIDOR -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Nome">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="CPF">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="RG">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Órgão Expedidor">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- NASCIMENTO, CELULAR, MÃO DOMINANTE, MENOR DE IDADE -->
                <div class="form-group">
                        <div class="row">
                            <div class="col-md-3" >
                                <mat-form-field class="width-100">
                                        <input matInput placeholder="Nascimento">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" >
                                <mat-form-field class="width-100">
                                        <input matInput placeholder="Celular">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" >
                                <mat-form-field class="width-100">
                                        <input matInput placeholder="Mão dominante">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" >
                                <mat-form-field class="width-100">
                                        <input matInput placeholder="Menor de idade?">
                                </mat-form-field>
                            </div>
                        </div>
                </div>
            
                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Endereço
                    </mat-panel-title>
                    <mat-panel-description>
                        
                    </mat-panel-description>
                    <mat-icon>map</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- ENDEREÇO, NUMERO, BAIRRO, COMPLEMENTO -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Endereço">
                            </mat-form-field>
                        </div>
                        <div class="col-md-1" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Número">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Bairro">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Complemento">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- CIDADE, ESTADO, CEP -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Cidade">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Estado">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="CEP">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Responsável
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>face</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- RESPONSAVEL: NOME, PARENTESCO, CELULAR -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Nome do responsável">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Parentesco">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Celular">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- RESPONSAVEL : RG, CPF -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="CPF">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="RG">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Contato para Emergências
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>warning</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- EMERGENCIA: NOME, PARENTESCO, CELULAR -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Nome do contato">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Relação (ex: mãe, amigo, etc)">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Celular">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Periodo das aulas
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>alarm</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- HORARIO: PERIODO, TIPO DE CURSO -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Periodo das Aulas">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Extensivo ou Semiextensivo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Histórico Escolar
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>import_contacts</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- HISTÓRICO ESCOLAR: FORMADO, ANO, ESCOLA, CIDADE -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Formado no ensino médio?">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Ano de conslusão">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Escola onde estudou/estuda">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Cidade da escola">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- PRÉ VESTIBULAR: FORMADO, ANO, ESCOLA, CIDADE -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="já fez pré-vestibular anteriormente?">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="instituição">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Cidade">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            
                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pretenções Escolares
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>school</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- PRETENÇÃO ESCOLAR: CURSOS, INSTITUIÇÕES, ENEM -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Cursos que pretende prestar vestibular (Ex: 'Medicina, Direito')">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Instituições pretendidas (Ex: 'UFSC, UDESC')">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="irá prestar o ENEM?">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Necessidades especiais  
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>accessibility</mat-icon>
                </mat-expansion-panel-header>
            
                <!-- NECESSIDADES ESPECIAIS: MEDICAMENTOS -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Usa medicamento controlado?">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Se sim, quais?">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- NECESSIDADES ESPECIAIS: NECESSIDADES -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="É portador de Necessidades especiais?">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Se sim, quais?">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- NECESSIDADES ESPECIAIS: ALERGIAS -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Tem alergias?">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Se sim, quais?">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Como soube do curso  
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>info</mat-icon>
                </mat-expansion-panel-header>

               
                <!-- COMO FICOU SABERNDO DO CURSO -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Como ficou sabendo do cursinho?">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Condições de pagamento  
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                    <mat-icon>attach_money</mat-icon>
                </mat-expansion-panel-header>

               
                <!-- CONDIÇÕES DE PAGAMENTO:  À VISTA -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Pagamento à vista">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Percentual de Desconto">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Valor com desconto aplicado">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- CONDIÇÕES DE PAGAMENTO:  PARCELADO -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Pagamento parcelado">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="1 + ">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field class="width-100">
                                    <input matInput placeholder="Valor da Parcela">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <mat-action-row>
                    <button mat-button type="button" color="warn" (click)="prevStep(); false">Previous</button>
                    <button mat-button type="button" color="primary" (click)="nextStep(); false">End</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

        <div class="form-group text-center">
            <button mat-raised-button mat-button 
                    color="accent"
                    class="mt-5"
                    type="submit"
                    [disabled]="registerStudentForm.invalid">
                        Finalizar
            </button>
        </div>

</form>
</div>